.navBar {
  overflow: hidden;
  text-align: left;
  border-bottom: 2px solid black;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.navBar .divNavBar {
  float: left;
}

.navBar div H1 {
  margin: 0 0.2em;
}

.toggle {
  text-align: right;
}
