.rc-select {
  width: 423px;
  max-width: 50em;
}
@media screen and (max-width: 420px) {
  .rc-select {
    max-width: 20em;
  }
}
@media screen and (max-width: 340px) {
  .rc-select {
    max-width: 15em;
  }
}
.rc-select-dropdown {
  z-index: 9999;
}
.rc-select-focused .rc-select-selection {
  border-color: #d9925c;
  box-shadow: 0 0 2px rgba(217, 146, 92, 0.8);
}
.rc-select-enabled .rc-select-selection:hover {
  border-color: #d9925c;
  box-shadow: 0 0 2px rgba(217, 146, 92, 0.8);
}
.rc-select-enabled .rc-select-selection:active {
  border-color: #d9925c;
}
