.login-container {
  position: relative;
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
  float: right;
  display: flex;
  flex-direction: row;
  width: 17em;
  height: 3.4em;
}

.login-overlay {
  position: absolute;
  right: 0;
  width: 5em;
  text-align: center;
  overflow: hidden;
  height: 100%;
  transition: .5s ease;
  display: flex;
  flex-direction: row;
}

.login-overlay .login-icons {
  position: relative;
  right: 0;
  margin: auto;
}

.login-container:hover .login-overlay {
  width: 100%;
}

