.flex {
  display: flex;
  flex-direction: row;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: 10em;
  transition: .5s ease;
}

.overlay .desc {
  position: absolute;
  top: 10em;
}

.overlay H3 {
  width: 100%;
  text-align: center;
  transition: .5s ease;
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', serif;
}

.overlay H2 {
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', serif;
}

.overlay div {
  position: absolute;
  bottom: -100%;
  right: 0;
  width: 100%;
  text-align: center;
  transition: .5s ease;
  cursor: pointer;
}

.container:hover .overlay {
  height: 100%;
}

html.can-touch .container:hover .overlay div {
  bottom: 0;
}

@media screen and (max-width: 640px) {
  .flex {
    flex-direction: column;
  }

  .overlay {
    height: 6em;
  }

  .overlay H3 {
    font-size: 0.91em;
    top: 6em;
  }

  .overlay H2 {
    font-size: 1.17em;
  }
}

@media screen and (max-width: 420px) {
  .overlay {
    height: 5em;
  }

  .overlay H3 {
    font-size: 0.77em;
  }

  .overlay H2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 280px) {
  .overlay {
    height: 4em;
  }

  .overlay H3 {
    font-size: 0.55em;
  }

  .overlay H2 {
    font-size: 0.7em;
  }
}
